body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  /* transition: color 0.3s ease-in-out; */
  transition: color 0.3s ease-in;
}

.clicked {
  color: tomato;
}

.sexy-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
